@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body.modal-open {
  overflow: hidden;
}

path.logo_svg__color {
  @apply fill-primary-100;
}
path.rectangleDotFill_svg__color {
  @apply fill-primary-80;
}
path.stripeCircle_svg__color {
  @apply fill-primary-60;
}
path.plusSymbol_svg__color {
  @apply fill-primary-100;
}

.transition-on {
  opacity: 1;
}

.transition-off {
  transform: translateY(30px);
  opacity: 0;
}
